/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --navColor: #435446;
  --gray9c: #9ca4ac;
  --navy: #3c4454;
  --paleG: #5c6c64;
  --brown: #4c4442;
  --concrete: slategray;
  --wood: #663300;
  --steel: #b7410e;
}

.htmlBackground {
  background-color: #6d6c6c
}

/* Color Palletes */

.navyC {
  background-color: var(--navy);
}

.brownC {
  background-color: var(--brown);
}

.paleG{
  background-color: var(--paleG)
}

.gray9c {
  background-color: var(--gray9c)
}

/* Universal Border Used on Pages */
.mainBorder {
  border: 2px solid var(--navColor);
  border-radius: 5px;
}

.blackBorder {
  border: 5px solid black;
  border-radius: 5px;
}

.thickBorder {
  border: 5px solid var(--navColor);
  border-radius: 5px;
}

.marginRight {
  margin-right: 20px;
}

/* Used to Center main Pages */
.center {
  margin: 50px;
}

/* Styling Header */
.headerStyle {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: fit-content;
  background-color: #f5f5f5;
  border-bottom: 2px solid var(--navColor);
}

/* Giving the Header a little Margin from the side of viewport */
.pushHeader {
  margin-left: 10px;
}

.logo {
  max-height: 72px;
  /* border-top: 2px solid var(--navColor);
  border-left: 2px solid var(--navColor);
  border-right: 2px solid var(--navColor);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px; */
}

/* Giving Navbar a little margin from side of viewport */
.pushNav {
  margin-right: 50px;
}

.pushNavButton{
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 4px solid var(--navColor);
}

.nav-item {
  margin: 0px 5px;
  padding: 5px;
  border-top: 2px solid var(--navColor);
  border-left: 2px solid var(--navColor);
  border-right: 2px solid var(--navColor);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--navColor);
  background-color: lightgray;
}

/* Changing Nav Links to a differnt style than normal underline blue */
.navStyle {
  color: var(--navColor);
  text-decoration: none;
}

.noStyle {
  text-decoration:none;
  width: 100%;
}

/* Making Button Not Visible During Web Application */
.phoneDisplay {
  display: none;
}

.webDisplay {
  display: block;
}

/* Making the Text darker on h1 header */
.textDarker {
  margin: 0px;
  text-align: start;
  color: var(--navColor);
}

/* Eliminating the default margin that comes with text */
.text {
  margin: 0px;
  text-align: start;
  color: var(--navColor);
  padding-left: 15px;
}

.active {
  background-color: lightgray;
  color:rgb(146, 87, 87);
  border-radius: 5px;
  padding: 6px;
}

/* padding for Form content */
.formPadding {
  padding: 10px;
}

/* LOGIN PAGE FORMATTING */

.marginTen {
  margin: 10px;
}

.topMargin {
  margin-top: 5px;
}

.centerText {
  text-align: center;
}

.topContractors {
  margin: 0px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.lowerBorder {
  color: var(--gray9c);
  margin: 0px;
}

.topListStyle {
  border-bottom: 1px solid var(--navColor);
  background-color: #9ca4ac;
}

.boxShadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px black;
  border-radius: 5px;
}

.boxShadowLighter {
  border: 1px solid;
  padding: 0px;
  box-shadow: 3px 5px 5px black;
  border-radius: 5px;
}

.topListFont {
  font-size: 26px;
  padding-left: 15px;
  text-align: left;
  font-weight: bold;
  color: black;
}

.sizingLogin {
  height: 80vh;
  background-image: url(https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9ycmVzdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.overflowt{
  overflow: hidden
}

.marginAuto {
  margin: auto;
}

.styleLogin {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  background-color: #f5f5f5;
}

.loginHeader {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* DASHBOARD PAGE FORMATTING  */
.cCardHeader {
  border: 2px solid black;
  background-color: var(--paleG);
}

.cCardBody {
  border: 2px solid black;
  background-color: var(--gray9c);
}

.displayYes {
  display: block;
}

.fitContent {
  height: fit-content;
}

.displayNo {
  display: none;
}

.spaceM {
  margin-top: 25px
}

/* ANALYTICS FORMATTING */
.styleGraph {
  position: relative;
}

/* PROJECTLIST FORMATTING */

.projectCardsBackground {
  background-color: lightgray;
  border-radius: 5px;
  border: 1px solid;
}

.individualProjectCard {
  border: 3px solid black;
  background-color: gray;
  padding: 0px;
  margin: 5px;
  border-radius: 5px;
  height: fit-content;
  width: 250px;
}

.aTop {
  border: 1px solid black;
  background-color: tan;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.aMiddle {
  border: 1px solid black;
  background-color: tan;
  text-align: center;
}

.recycleTitleColor {
  background-color: #f5f5f5
}
.paddingLeft {
  padding-left: 15px;
}

.borderLeft {
  border-left: 1px solid black;
}

.colorC {
  background-color: var(--concrete);
}

.colorW {
  background-color: var(--wood);
}

.colorS {
  background-color: var(--steel);
}

.recycleType {
  margin: 0px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(233, 227, 227);
}

.recycleAmount {
  margin: 0px;
  padding: 2px;
  font-size: 16px;
  font-weight: bold;
  color: var(--brown);
  line-height: auto;
  text-align: center;
}

.viewProjectBtn {
  width: 100%;
  background-color: darkgrey;
  color: black;
}

/* PROJECT SPECIFIC & ITEM LIST STYLING */
.fullBorder {
  border: 1px solid black;
}

.fullBorder {
  border: 2px solid black;
}

.printList {
  border: 1px solid black;
  border-bottom: 3px solid black;
}

.recycleType2 {
  margin: 0px;
  padding-left: 5px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(233, 227, 227);
}

.centerText {
  margin: 0px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  color: rgb(131, 51, 51);
}

.centerText2 {
  margin: 0px;
  text-align: center;
  padding: 1px;
  background-color:lightgrey;
}

.textW {
  color: rgb(233, 227, 227);
}

.styleItemLink {
  color: white;
  border: 2px solid black;
  padding: 0px 3px;
  background-color:rgb(61, 58, 58);
}  

/* STYLING ITEM PAGE */

.mainItemBorder {
  border: 3px solid black;
  border-radius: 5px;
}

.bottomBorder {
  border-bottom: 2px solid white;

}

.deleteBtn {
  background-color: darkred;
}


/* Footer Styling/Fixing footer to bottom of page */
.footer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background-color: #f5f5f5;
  border-top: 2px solid var(--navColor);
}

.footer-links {
  margin: 0px 20px;
}

/* Reveal Button to show Sign-In, Login, & About Us Button for Phones */
@media only screen and (max-width: 836px) {
  .phoneDisplay{
    display: block;
  }
}

/* Hide Sign-In, Login, & About Us Buttons */
@media only screen and (max-width: 836px) {
  .webDisplay {
    display: none;
  }
}

/* Shrinking Header Text when screen gets smaller */
@media only screen and (max-width: 500px){
  .textDarker{
    text-size-adjust: 14px;
  }
}

/* Hiding Text under Header when screen gets too small */
@media only screen and (max-width: 476px){
  .textDisplay{
    display: none;
  }
}

/* Reducing Header Image size for a smaller screen width */
@media only screen and (max-width: 448px){
  .logo {
    max-height: 40px;
  }
}

/* Hiding Logo when Screen width gets too small */
@media only screen and (max-width: 242px){
  .logo {
    display: none;
  }
}

.smallScreen {
  flex-direction: row;
}

@media only screen and (max-width: 777px){
  .smallScreen {
    flex-direction: column-reverse;
  }
}

.noStyle:hover {
  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
}

.styleItemLink:hover {
  background-color: lightgray;
  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
}
